---
all:
  hosts:
    hakase:
      ansible-host: host-ip
  children:
    ghost:
      hosts:
        hakase:
    secrets_db:
      hosts:
        hakase:
    secrets_tinybird:
      hosts:
        hakase:
    secrets_smtp:
      hosts:
        hakase: